caixa crate_1 GL_CLAMP GL_CLAMP
t1invader1 t1invader1 GL_REPEAT GL_REPEAT
t1invader2 t1invader1 GL_REPEAT GL_REPEAT
t1invader3 t1invader1 GL_REPEAT GL_REPEAT
t1invader4 t1invader1 GL_REPEAT GL_REPEAT
t1invaderlaser t1invader1 GL_REPEAT GL_REPEAT
t1player t1invader1 GL_REPEAT GL_REPEAT
t1playermissile t1invader1 GL_REPEAT GL_REPEAT